body {
    margin: 0;
    background-color: #1B2441;
}

.container {
    display: flex;
    justify-content: space-around;
}

.scard {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.score {
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: black;
  color: #F94F6D;
  width: 155; 
  height: 120;
}

.btn-cont {
  margin-top: 15px;
  width: 155; 
  height: 120;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

button {
    border: 1px solid #9AABD8;
    color: #9AABD8;
    background-color: #1B2441;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: bold;
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

button:hover {
    background-color: aqua;
    color: black;
    font-style: Bold;
}

h3 {
    font-family: Verdana;
    font-style: Bold;
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
}
h2 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: Regular;
    font-size: 90px;
}